<!DOCTYPE html>
<html lang="en"><head><title></title></head>
<body>
  <p>Hello,</p>
  <p>We were unable to process the latest payment for your <b>{{appName}}</b> subscription.</p>
  <p>Your account remains active for now. Please update your payment method before the grace period ends to avoid any service interruption.</p>
  <p>Update your card on your <a href="{{billingPortalUrl}}">billing portal</a>.</p>
  <br />
  <p>The <b>{{appName}}</b> Team.</p>
  <br/>
  <i style="color:#9b9b9b">Please do not reply to this email, you can contact us <a href="mailto:{{appContact}}">here</a>.</i>
</body></html>
