<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head><title></title></head>
  <body>
    <p>Hello,</p>
    <p>{{inviterName}} has invited you to join <b>{{orgName}}</b> on {{appName}}.</p>
    <p>Click here to accept the invitation: {{url}}</p>
    <p>The <b>{{appName}}</b> Team.</p>
    <br />
    <i style="color: #9b9b9b">If you weren't expecting this invitation, you can ignore this email.
      Contact us <a href="mailto:{{appContact}}">here</a>.</i>
  </body>
</html>
