<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
  </head>

  <body>
    <p>Dear {{displayName}},</p>
    <p>Thank you for signing up on {{appName}}.</p>
    <p>Please verify your email address by visiting this url: {{url}}</p>
    <p>This link will expire in 24 hours.</p>
    <p>The <b>{{appName}}</b> Support Team.</p>
    <br />
    <i style="color: #9b9b9b"
      >If you didn't create this account, you can ignore this email. Please do
      not reply to this email, you can contact us
      <a href="mailto:{{appContact}}">here</a>.</i
    >
  </body>
</html>
