<table role="presentation" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="email-footer" style="padding: 16px 32px 24px;">
      {{#if brand.signature}}<p>{{brand.signature}}</p>{{/if}}
      {{#if brand.footerText}}<p>{{brand.footerText}}</p>{{/if}}
      {{#if brand.contact}}<p>Questions? <a href="mailto:{{brand.contact}}">{{brand.contact}}</a></p>{{/if}}
      {{#each brand.links}}<a href="{{this}}">{{@key}}</a> {{/each}}
      <p><a href="{{brand.url}}">{{brand.url}}</a></p>
    </td>
  </tr>
</table>
