<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{subject}}</title>
    {{> styles}}
  </head>
  <body>
    <table role="presentation" width="100%" cellpadding="0" cellspacing="0" style="background-color: #f4f4f5;">
      <tr>
        <td align="center" style="padding: 24px 16px;">
          <table role="presentation" width="100%" cellpadding="0" cellspacing="0" class="email-shell" style="{{#if brand.fontFamily}}font-family: {{brand.fontFamily}};{{/if}}{{#if brand.textColor}} color: {{brand.textColor}};{{/if}}">
            <tr>
              <td>{{> header}}</td>
            </tr>
            <tr>
              <td class="email-body">{{{body}}}</td>
            </tr>
            <tr>
              <td>{{> footer}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
